/*===========================
 * Template - My Goals
 *===========================*/

 /*** App Banner ***/
 .t-banner {
   margin: 0 0 $pulse-4x 0;
   padding: 0;
 }

 /*** App Content wrapper ***/
 .t-content-wrapper {
   max-width: 96em;
   margin: 0 auto;
   padding: 0 1em;
 }
