/*=============================
 * Organisms - Masterhead
 *=============================*/

.o-masthead {
  border-bottom: 1px solid $gray-4;
  position: relative;
// display: none;
  // The calculation for the padding is related
  // to the padding of the menu items padding-top 6.4 and padding-bottom a height (24px) + aprox paddin-bottom of same elements (a) 
  padding: calc(4.8rem + 1.6rem) 0 calc(2.4rem + 2.3rem) 0;
}
