/*===========================
 * Molecule - Masterhead nav menu
 *===========================*/
.m-masthead__menu {
  @extend %h-bare-list;
  margin: 3.2rem 0 0 0;

  &::after {
  // content: "";
  display: table;
  clear: both;
  }
 & li {
    float: left;
    // padding: 0 0 1.6em 0;
    // padding-bottom: 2.6rem;
    margin-right: 1.6em;
    a {
      padding-bottom: 2.6rem;
      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        color: #192127;
        text-decoration: none;
        border-bottom: 1px solid $black;
      }
    }
  }
}

/*===========================
 * Molecule - Masterhead nav menu
 *===========================*/
.m-masterhead__create-goal {
  margin-bottom: 3.2rem;

  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
