/*-----------------------------
 * ICONS
 *----------------------------*/
.a-icon,
%a-icon {
  fill: $gray-2;
  min-height: 20px;
  min-width: 20px;
  // height: 2rem;
  // width: 2rem;
  margin-right: 5px;

  .a-btn:hover &,
  .a-btn:focus &,
  .a-btn:active & {
    fill: currentColor;
  }

  &--liked {
    fill: $primary-color;
  }
}
